In [2]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\edb\languagepack\v2\python-3.9\lib\site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\edb\languagepack\v2\python-3.9\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\edb\languagepack\v2\python-3.9\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in c:\edb\languagepack\v2\python-3.9\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in c:\edb\languagepack\v2\python-3.9\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd              # for handling datasets

In [6]:
data = pd.read_excel('D:/OneDrive/Data/Brooks4e/fund_managers.xlsx')
type(data)

pandas.core.frame.DataFrame

In [5]:
import sys
!{sys.executable} -m pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 kB 7.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [7]:
data

    Year  Risky Ricky  Safe Steve  Ricky Ranks  Steve Ranks
0   2005           24           9            2            3
1   2006           18           7            3            4
2   2007            4           5            7            6
3   2008          -23          -8           13           13
4   2009          -12          -3           11           12
5   2010            1           3            8            8
6   2011            7           4            6            7
7   2012           12           2            5           10
8   2013           -6           3            9            8
9   2014          -14           6           12            5
10  2015           -7           2           10           10
11  2016           56          19            1            1
12  2017           14          12            4            2